In [1]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns
import pandas as pd

In [2]:
df_TFD = pd.read_csv('../../datasets/TitanicFromDisaster_train.csv')
df_TFD.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

#### x 범주형, y 범주형 
- 선정 변수 : Pclass, Survived
- 분석 내용: ticket class에 따라 생존율이 달라지는가? 
    - 귀무가설: ticket class에 따라 생존율이 달라지지 않는다. 
    - 대립가설: ticket class에 따라 생존율이 달라진다. 
- 분석 결론 (기준 : p-value pvalue=4.549251711298793e-23)
    - 통계 결론: 대립가설이 참 (귀무가설 기각)
    - 사실 결론: ticket class에 따라 해약여부가 달라진다.

In [4]:
df_TFD[['Survived', 'Pclass']] = df_TFD[['Survived', 'Pclass']].astype(object)
df_TFD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    object
 2   Pclass       891 non-null    object
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(3), object(7)
memory usage: 83.7+ KB

In [5]:
df_TFD[['Survived', 'Pclass']].describe()

        Survived  Pclass
count        891     891
unique         2       3
top            0       3
freq         549     491

In [6]:
df_TFD_category_Pclass= df_TFD[['Survived', 'Pclass']]

In [10]:
pd.pivot_table(data=df_TFD_category_Pclass, index='Survived', columns='Pclass', aggfunc=len)

Pclass      1   2    3
Survived
0          80  97  372
1         136  87  119

In [7]:
df_TFD_category_Pclass_pivot = pd.pivot_table(data=df_TFD_category_Pclass, index='Survived', columns='Pclass', aggfunc=len)
df_TFD_category_Pclass_pivot

Pclass      1   2    3
Survived
0          80  97  372
1         136  87  119

In [8]:
import scipy
scipy.__version__
import scipy.stats as stats

In [9]:
stats.chi2_contingency(observed=df_TFD_category_Pclass_pivot, correction=True)

Chi2ContingencyResult(statistic=102.88898875696056, pvalue=4.549251711298793e-23, dof=2, expected_freq=array([[133.09090909, 113.37373737, 302.53535354],
       [ 82.90909091,  70.62626263, 188.46464646]]))

### x:연속형 / y:연속형 : 주로 상관관계 확인
- correlation coefficient(상관계수/계측수치) 
    - -1 ~ 1 사이 
    - 0에 가까우면 관계 없음, -1으로 갈수록 반비례, 1로 갈수록 정비례
- 선정 변수 : age, Fare 
- 분석 내용: 나이에 따라서 요금의 변화가 있는가? 
    - 귀무가설: 나이에 따라서 요금 변화가 없다. 
    - 대립가설: 나이에 따라서 요금 변화가 있다.  
- 분석 결론 (기준 : p-value 0.05)
    - 통계 결론: 대립가설 참 
    - 사실 결론: 나이에 따라서 요금이 올라간다. (statistic=0.0960666917690389, pvalue=0.010216277504446952)

In [16]:
df_TFD[['Age', 'Fare']].describe()
df_Age_Fare = df_TFD[['Age', 'Fare']]
df_Age_Fare

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

In [17]:
df_Age_Fare.isnull().sum()

Age     177
Fare      0
dtype: int64

In [18]:
df_Age_Fare = df_Age_Fare.dropna().copy()

In [19]:
df_Age_Fare.corr()
# 유의수준(분포적으로 유의미한건가)확인

           Age      Fare
Age   1.000000  0.096067
Fare  0.096067  1.000000

In [20]:
stats.pearsonr(df_Age_Fare['Age'], df_Age_Fare['Fare'])

PearsonRResult(statistic=0.0960666917690389, pvalue=0.010216277504446952)