In [11]:
import pymongo as mg
import pandas as pd

In [12]:
mg.__version__

'3.12.0'

In [13]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [14]:
database = client['db_NHIS']

In [15]:
collection = database['NSC2_BNC_V2_1.CSV']

In [16]:
cursor = collection.find({})

In [17]:
list_BND = list(cursor)

In [18]:
df_BND = pd.DataFrame(list_BND)

In [19]:
df_BND

,_id,STD_YYYY,RN_INDI,SEX,SGG,GAIBJA_TYPE,SMPL_TYPE_CD,CTRB_Q10,G1E_OBJ_YN,DSB_TYPE_CD,DSB_SVRT_CD_V2
0,64d312442aef4d92029e9a63,2002,1433,1,29140,7,1,NaN,NaN,NaN,NaN
1,64d312442aef4d92029e9a64,2003,1433,1,29140,7,1,NaN,NaN,NaN,NaN
2,64d312442aef4d92029e9a65,2004,1433,1,29140,7,1,NaN,NaN,NaN,NaN
3,64d312442aef4d92029e9a66,2005,1433,1,29140,7,1,NaN,NaN,NaN,NaN
4,64d312442aef4d92029e9a67,2006,1433,1,29140,7,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
13022,64d312452aef4d92029ecd41,2012,3000357,2,28237,6,4,NaN,NaN,NaN,NaN
13023,64d312452aef4d92029ecd42,2013,3000357,2,28245,2,4,6.0,NaN,NaN,NaN
13024,64d312452aef4d92029ecd43,2014,3000357,2,28245,2,4,6.0,NaN,NaN,NaN
13025,64d312452aef4d92029ecd44,2015,3000357,2,28245,2,4,7.0,NaN,NaN,NaN
13026,64d312452aef4d92029ecd45,2015,3000758,1,41287,6,4,NaN,NaN,NaN,NaN

In [20]:
df_BND.to_csv('./NSC2_BNC_V2_1.csv')